@use "../utils" as *;

/*----------------------------------------*/
/*  2.19 Swiper scrollbar 
/*----------------------------------------*/

.rs-swiper-scrollbar{
    &.swiper-scrollbar{
        height: 5px;
        background: var( --rs-bg-secondary);
    }
    .swiper-scrollbar-drag{
        width: 220px !important;
        background: var(--rs-theme-primary);
    }
}