@use '../../utils' as *;
/*----------------------------------------*/
/*  3.1.14 Banner Style 14
/*----------------------------------------*/

.rs-banner-fourteen {
    overflow-x: clip;
    position: relative;
    z-index: 1;
    .rs-banner-circle-btn {
        position: absolute;
        inset-inline-end: 345px;
        top: 290px;
        z-index: 2;
        @media #{$xl}{
            display: none;
        }
    }
    .rs-rotate-btn{
        width: 180px;
        height: 180px;
        background-color: var(--rs-theme-medium-yellow);
        border-radius: 50%;
        padding: 2px;
    }
    .rs-rotate-shape{
        background-color: #121315;
        width: 90px;
        height: 90px;
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        text-align: center;
        padding: 20px;
        z-index: 1;
        img{
            width: 30px;
            height: 30px;
            animation: rs-scale 1s infinite alternate;
            animation-duration: 1s;
        }
    }
    .rs-text-circle{
        span{
            font-weight: 600;
            color: #121315;
        }
    }
    .rs-text-circle-wrapper{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .rs-banner-bg-thumb {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        inset-inline-end: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        transition: transform 7000ms ease, opacity 1500ms ease-in, -webkit-transform 7000ms ease;
    }
    .rs-banner-slider-wrapper{
        position: relative;
        &:hover{
            .rs-banner-navigation{
                button{
                    visibility: visible;
                    opacity: 1;
                    inset-inline-start: 50px;
                    &.swiper-button-next{
                        inset-inline-start: auto;
                        inset-inline-end: 50px;
                    }
                }
            }
        }
    }
    .rs-banner-item-wrapper{
        position: relative;
        padding-top: 230px;
        @media #{$laptop}{
            padding-top: 180px;
        }
        @media #{$xl}{
            padding-top: 150px;
        }
        @media #{$lg}{
            padding-top: 130px;
        }
        @media #{$md}{
            padding-top: 110px;
        }
        @media #{$sm}{
            padding-top: 0px;
        }
    }
    .rs-banner-item{
        position: relative;
        z-index: 2;
        max-width: 860px;
        padding-top: 100px;
        padding-bottom: 90px;
        padding-inline-start:120px;
        padding-inline-end: 100px;
        @media #{$laptop}{
            width: 800px;
            padding-top: 80px;
            padding-bottom: 80px;
            padding-inline-start:80px;
            padding-inline-end: 80px;
        }
        @media #{$xl}{
            width: 700px;
            padding-top: 60px;
            padding-bottom: 60px;
            padding-inline-start:60px;
            padding-inline-end: 60px;
        }
        @media #{$lg}{
            width: 600px;
            padding-top: 50px;
            padding-bottom: 50px;
            padding-inline-start:50px;
            padding-inline-end: 50px;
        }
        @media #{$md}{
            width: 500px;
        }
        @media #{$sm}{
            width: 100%;
            padding-top: 75px;
            padding-bottom: 80px;
            padding-inline-start:30px;
            padding-inline-end: 30px;
        }
        @media #{$xs}{
            padding-inline-start:15px;
            padding-inline-end: 15px;
        }
    }
    .rs-banner-bg-thumb-two{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        inset-inline-end: 0;
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        @media #{$sm}{
            display: none;
        }
    }
    .rs-banner-subtitle{
        font-size: 20px;
        font-weight: 600;
        color: var(--rs-theme-medium-yellow);
        margin-bottom: 13px;
        display: inline-block;
        text-transform: uppercase;
        @media #{$md}{
            font-size: 18px;
        }
    }
    .rs-banner-title{
        color: var(--rs-white);
        font-size: 60px;
        line-height: 1.13;
        text-transform: capitalize;
        letter-spacing: -1px;
        @media #{$laptop}{
            font-size: 55px;
        }
        @media #{$xl}{
            font-size: 50px;
        }
        @media #{$lg}{
            font-size: 45px;
        }
        @media #{$md}{
            font-size: 40px;
        }
        @media #{$sm}{
            font-size: 45px;
        }
        @media #{$xs}{
            font-size: 40px;
        }
        @media #{$mobile}{
            font-size: 38px;
        }
    }
    .rs-banner-descrip{
        margin: 25px 0 50px;
        @media #{$sm}{
            margin: 25px 0 40px;
        }
        p{
            color: var(--rs-white);
            font-size: 18px;
        }
    }
    .rs-banner-btn-wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
    }
    .rs-banner-navigation{
        display: flex;
        gap: 10px;
        position: absolute;
        inset-inline-end: 80px;
        top: 50%;
        transform: translate(50%, -50%);
        z-index: 1;
        flex-direction: column;
        @media #{$sm}{
            display: none;
        }
        @include rtl {
             inset-inline-end: 20px;
        }
        button{
            background-color: var(--rs-white) ;
            border-radius: 10px;
            font-size: 18px;
            z-index: 2;
            transition: 0.5s;
            width: 55px;
            height: 80px;
            z-index: 2;
            transition: 0.5s;
            color: var(--rs-black);
            &.swiper-button-next{
                inset-inline-start: auto;
                inset-inline-end: 40px;
            }
            &:hover{
                background: var(--rs-theme-medium-yellow);
                color: var(--rs-black);
            }
        }
    }
    .rs-banner-pagination{
        display: none;
        @media #{$sm}{
            display: block;
        }
        .rs-pagination.swiper-pagination {
            position: absolute;
            bottom: 30px;
            .swiper-pagination-bullet{
                background: var(--rs-theme-medium-yellow);
            }
        }
    }
}


// slider animation
.rs-banner-fourteen {
     .swiper-slide-active {
         .rs-banner-subtitle,
         .rs-banner-title,
         .rs-banner-descrip,
         .rs-banner-btn{
            animation-fill-mode: both;
            animation-name: fadeInUp;
         }
    }
     .swiper-slide-active {
        .rs-banner-subtitle{
            animation-delay: .3s;
            animation-duration: 0.7s;
        }
         .rs-banner-title {
            animation-delay: .5s;
            animation-duration: 0.9s;
        }
         .rs-banner-descrip {
            animation-delay: .7s;
            animation-duration: 1.1s;
        }
         .rs-banner-btn {
            animation-delay: .9s;
            animation-duration: 1.3s;
        }
        .rs-banner-bg-thumb {
            transform: scale(1.15);
        }
    }
}



